## .NET
bin/
obj/
*.user
*.suo
*.cache
*.DotSettings.user
*.csproj.user
*.pubxml.user

## Visual Studio
.vs/
*.sln.docstates

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/

## NuGet
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nupkg

## IDE
.codebuddy/
publish/

## Windows
Thumbs.db
Desktop.ini
